@tailwind base;
@tailwind components;
@tailwind utilities;

.height-custom {
  width: 100vw;
  min-height: 40vh;
  background-color:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
}

.border-custom {
  padding: 15px;
  border: 1px solid rgb(209 213 219);
  border-radius: 5px;
}

@media only screen and (max-width: 765px) {
  .height-custom {
    display: block;
  } 
}

.card-style {
  height: 40vh;
}


