.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  min-height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.57);
}

.modal {
  position: fixed;
  top: 15%;
  left: 35%;
  width: 25%;
  min-height: 15%;
  z-index: 1000;
  background: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  backdrop-filter: blur(8px);
}

.modalHeader {
  height: 40px;
  background: #10b981;
  overflow: hidden;
}

.heading {
  margin: 0;
  padding: 20px;
  font-weight: 500;
  color: #fc8414;
  font-size: 23px;
}

.actionsContainer {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 30px;
  color: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-5px, 5px);
}

.btn-accect-style {
  background-color: transparent;
  border: 2px solid rgba(255, 0, 0, 0.829);
  padding: 10px 70px;
  border-radius: 30px;
  margin-bottom: 5px;
  transition: 1s ease-in;
}

.btn-accect-style:hover {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 70px;
  border-radius: 30px;
  margin-bottom: 5px;
}
