

/* .navbar-style::after{
  position: absolute;
  bottom: -2px;
  content: '';
  height: 3px;
  width: 91%;
  right: 0;
  background: linear-gradient(90deg, transparent 77px, orange 77px);
  /* background-color: black;
}  */