.up-navbar {
    background: #79c09c;
    backdrop-filter: blur(5px) !important;
    transition: var(--transition-slow);
}

.up-navbar .navbar-brand {
    color: black;
    font-weight: 700;
    transition: var(--transition);
}

.up-navbar .navbar-brand:hover {
    color: var(--main-color);
}

.up-navbar .nav-link {
    color: rgba(255, 255, 255, 0.55);
    transition: var(--transition);
}

.up-navbar .nav-link.active {
    color: var(--main-color);
    font-weight: 600;
    transition: var(--transition);
}

.up-navbar .nav-link:hover {
    color: var(--main-color);
}

.up-navbar .fa-solid.fa-ellipsis-vertical {
    transition: var(--transition);
}
