:root {
    --main-color: #4e4e4d;
    --dark-white: #585858;
    --gray: #a2a2a2;
    --dark: #333333;
    --light-gray: #cccccc;
    --transition: 0.3s;
    --transition-slow: 0.6s;
    --backGroudColor: #f5f6fa;
    --inputBorderColor: #bfbfbf;
    --backGroundColorGray: #e8e8e8;
    --titleColor: black;
    --textGray: #666666;
    --footerBackGroundColor: #0d1b2a;
    --backGroundColor: #ececec;
    --borderGrayColor: #e1e1e1;
    --backGroundVanilla: #fffffb;
    --greenColor: #79c09c;
}

@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");

* {
    font-family: "Nunito Sans", sans-serif;
}

body {
    background-color: #F7F8FA;
}

.bg-backgroud-3 {
    background-color: #F7F8FA;
}

input, textarea, select, option {
    background-color: #F7F8FA !important;
    border: 1px solid #b1adad !important;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.custom-height {
    min-height: 70vh;
    width: 100vw;
    box-sizing: border-box;
}

.scroll-class {
    overflow-x: scroll;
}

h1, h2, h3, h4, h5, h6 {
    color: #ed9133;
}

 span{ padding-left: 5px;}

.tc-main {
    color: var(--main-color);
}

.tc-gray {
    color: var(--gray);
}

.tc-light-gray {
    color: var(--light-gray);
}

.tc-dark-white {
    color: var(--dark-white);
}

.bg-main {
    background: var(--main-color);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.bg-dark-white {
    background-color: var(--dark-white);
}

.color-green {
    color: var(--greenColor);
}

.btn-main {
    background-color: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    font-weight: bold;
    transition: var(--transition);
}

.card-header-custom {
    background-color: #79c09c;
    color: white;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid #79c09c;
    border-radius: 3rem;

}

.btn-dark {
    color: #fff;
    background-color: #ed9133;
    border-color: #ed9133;
}

.btn-link {
    font-weight: 400;
    color: #000;
    text-decoration: underline;
}

.form-check-input:checked {
    background-color: #ed9133;
    border-color: #ed9133;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #edf6f1;
    background-clip: padding-box;
    border: 1px solid #79c09c;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: red;
}

.btn-outline-success {
    color: #79c09c;
    border-color: #79c09c;
}

a {
   
    color: var(--footerBackGroundColor);
    text-decoration: none;
    cursor: pointer;
}

.h10 {
    background-color: #79c09c;
}

.mansuite {
    background: url("/photos/man_suit.jpg");
    height: 50vh;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 0.5rem;
}

.text-primary {
    --bs-text-opacity: 1;
    color: #ed9133;
}

.py-3 {
    padding-top: 3rem !important;
    padding-bottom: 1rem !important;
}

.bluex
{
   color: rgb(18, 55, 155)
};

.grend
{
    color: rgb(42, 231, 24)
};

.likede {
   color: #2b15f3e8;
};

.vede{
    margin-top:15px; 
    padding:5px; 
};

.ssi{
    margin:50px; 
    padding:15px; 
    margin-left: 100px;
};

.grett{
   color : #828282
};

.pk-0 {
   color:#828282;
}; 

.cardin{
    border: 1px solid #828282; 
    border-radius: 5px;
};

.py-8 {
    padding-top: 12rem !important;
    padding-bottom: 5rem !important;
};

.scroll {
    overflow-y: scroll;
    height: 20vh;
    border: 3px
};

.btn-darker {
    color: #fff;
    background-color: #f307079d;
    border-color: #f307079d;
    border-radius: 20px;
};

.btn-darkerre {
    color: #fff;
    background-color: #f307079d;
    border-color: #f307079d;
    border-radius: 20px;
    font-size: 20px !important;
    
};

.btn-green {
    color: rgba(15, 15, 15, 0.842);
    background-color: #d6d4d1;
    border-color: #d6d4d1;
    border-radius: 20px;
};

.class-height-doc{
    height: 300px;
}

.icon-done{
    max-width: 15%;
    max-height: 200px;
    object-fit: contain;
}

.line-chart {
    width: 80%;
    height: 65vh;
}

.cart-class-custom {
    display: flex;
    justify-content: space-around;
}

.progress {
    --bs-progress-height: 1,5rem;
   
    --bs-progress-bg: #cfebdde8;
    --bs-progress-border-radius: lrem;
    --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #0d6efd;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
 
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
  }

  .progress {
    background-color: #79c09c57;
    color: rgba(0, 0, 0, 0.877);
}