@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&family=Roboto+Condensed&family=Roboto:wght@400;500&family=ZCOOL+KuaiLe&display=swap');

.loader1 {
    font-family: 'ZCOOL kuaile', cursive;
    font-size: 40px;
    color: palevioletred;
}

.loader1::after {
    content: '\2026';
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots steps(4, end) 2s infinite;
    width: 0px;
}

@keyframes dots {
    to {
        width: 1.25em;
    }
}
